body {
  font-family : sans-serif;
  background-color: #F2F2F2;
    position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;

}

a.link {
color: rgb(0, 102, 204)
}

.header {
  position: fixed;
  margin-left: calc(3vw + 1px);
  padding-top: 30px;
  height: 99px;
  width: 100%;
  border-bottom: 1.5px solid #dbdbdb;
}

.title {
  font-size: clamp(18px, 5vw, 22px);
  font-style: italic;
  font-variant: small-caps;
  font-family: sans-serif;
  color: black;
  opacity: 0.9;
  animation: 1s fadeIn;


}

.contact {
  padding-top: 16px;
  font-variant: all-small-caps;
  font-size: 12px;
  opacity: 0.8;
  animation: 2s fadeIn;


}

.projects {
  position: absolute;
  overflow-y: scroll;
  height: calc(100vh - 120px);
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  top: 130px;
  animation: 3s fadeIn;


}

.infos {
  border-bottom: 1px solid #cacaca;
}


table {
  border-collapse: collapse;
  text-align: left;
}

table thead th {
  position: sticky;
  top: 0;
  height: 10px;
}

table td {
  padding-top:5px;
  /* padding-bottom: 5px; */
  font-size: 12px;
  /* max-width: 160px; */
  padding-right: 2em;

}

tr {
  /* border-bottom: 1px solid #cacaca; */
}

/* tr:hover {
  background-color: #E6E6E6;
} */

img {
  height: 150px;
}

.artist {
}

.album {
  font-style: oblique;
}

.format {
  color: #686868;
  font-variant: all-small-caps;
}

.job {
  color: #005a91;
  font-variant: small-caps;
}

.date {
  color: #686868;
  font-size: 11px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
